pre {
    padding:10px;
    width: 100%;
    background-color: lightgray;
}
input {
    padding: 0 0 0 5px;
    width: 250px;
}
label {
    display: inline-block;
    padding: 0 15px 0 0;
}
td {
    padding: 0 15px 5px 0;
}
li {
    padding: 4px;
    list-style-type: none;
}
form * {
    display: block;
    margin: 10px;
}

div {
    padding: 10px;
}

select {
    padding: 0 0 0 5px;
}

.functions{
    text-decoration: none;
    border: 1px solid black;
    padding: 0 1px 0 1px;
}
.box{
    border: 1px solid black;
    padding: 2px;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

input[type=checkbox]{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  width: 20px;
}

section {
 padding: 0 0 0 15px;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
  
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }